/* 
---------------------------------------------
footer 
--------------------------------------------- 
*/

footer.no-space {
    margin-top: 0px;
  }
  
  footer {
    background-color: #00bdfe;
    text-align: center;
    padding: 25px 0px !important;
    margin-top: 60px !important;
  }
  
  footer p {
    color: #fff;
    font-weight: 300;
  }
  
  footer p a {
    color: #fff;
    font-weight: 500;
  }
  