/* (A) WHOLE PAGE */
* {
    box-sizing: border-box;
  }
  body {
    background: #eee;
  }
  
  /* (B) GALLERY WRAPPER */
  .gallery {
    /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  
    /* (B2) OPTIONAL WIDTH RESTRICT */
    max-width: 1000px;
    margin: 30px auto;
    overflow: hidden;
  }
  /* (D) ON SMALL SCREENS - 2 IMAGES PER ROW */
  @media only screen and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /* (E) OPTIONAL ZOOM ON HOVER */
  .gallery img:hover {
    z-index: 9;
    transform: scale(1.3);
    /* linear | ease | ease-in | ease-out | ease-in-out */
    transition: transform ease 0.5s;
  }
  /* (F) FULLSCREEN MODE */
  .gallery img.full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    object-fit: fit;
    background: rgba(0, 0, 0, 0.7);
  }
  .gallery img.full:hover {
    z-index: 999;
    transform: none;
  }
  /* (C) GALLERY IMAGES */
  .gallery img {
    position: relative;
    float: left;
    width: 290px;
    height: 290px;
    object-fit: cover;
  }
  .gallery .photo-box {
    /* (C1) DIMENSION */
    width: 100%;
    padding: 10px;
  
    /* (C2) COLORS */
    border: 1px solid #ddd;
    background: #fff;
  
    /* (C3) IMAGE RESIZE */
    /* cover | contain | fill | scale-down */
    object-fit: contain;
    position: relative;
  }
  .gallery .like-box a.like {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
  }
  .gallery .like-box a.like:hover {
    text-decoration: underline !important;
  }
  .gallery .like-box span {
    display: inline;
    float: right;
    margin-top: 5px;
  }
  .collg4 .main-content {
    padding: 0px;
  }
  .contest-details .top-content {
    text-align: center;
  }
  .contest-details .top-content ul {
    text-align: center;
    margin-top: 30px;
  }
  .contest-details .top-content ul li:first-child {
    margin-left: 10px;
  }
  .contest-details .top-content ul li {
    margin: 0px 10px;
  }
  .contest-details .item {
    margin-bottom: 20px;
  }
  .col-lg-6 {
    display: inline-block;
  }
  .main-button a, .main-button button {
    font-size: 15px;
    color: #fff;
    background-color: #00bdfe;
    border: 1px solid #00bdfe;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
  }
  